.top-bar
  .top-bar-title
    %span{'data-hide-for' => 'medium', 'data-responsive-toggle' => 'responsive-menu'}
      %span.menu-icon.dark{'data-toggle' => ''}

  #responsive-menu
    .top-bar-left
      - if user_signed_in?
        %ul.dropdown.menu{'data-dropdown-menu' => ''}
          %li
            - model_name = User.model_name.human
            = link_to model_name, users_path

          %li
            - model_name = Book.model_name.human
            = link_to model_name, books_path

          %li
            - model_name = Schedule.model_name.human
            = link_to model_name, schedules_path

    .top-bar-right
      %ul.dropdown.menu{'data-dropdown-menu' => ''}
        - if user_signed_in?
          %li
            %a= "#{current_user.email}"
            %ul.menu.vertical
              %li
                = link_to :edit_profile, edit_user_profile_path(user_id: current_user.id)
          %li.divider
          %li
            = link_to :sign_out, destroy_user_session_path, method: :delete, class: :button
        - else
          %li
            = link_to :sign_in, new_user_session_path, class: :button
